.aboutSection {
    background-color: $primaryFont;
    .aboutImg {
        max-width: 500px;
        border-radius: 25% 50%;
        margin-right: 50px;
        box-shadow: -10px 10px 15px $neon1;
        animation: colorChange 7s infinite;
    }
    .aboutText {
        p {
            margin-bottom: 25px;
        }
    }
}

@keyframes colorChange {
    0% {box-shadow: -10px 10px 15px $neon1;}
    25% {box-shadow: -10px 10px 15px $neon2;}
    50% {box-shadow: -10px 10px 15px $neon3;}
    75% {box-shadow: -10px 10px 15px $neon4;}
    100% {box-shadow: -10px 10px 15px $neon1;}
}

.aboutSection .wrapper {
    display: flex;
    align-items: center;
}

.aboutSocials {
    li {
        margin-right: 25px;
        &:nth-child(1) a:hover {color: $neon1}
        &:nth-child(2) a:hover {color: $neon2}
        &:nth-child(3) a:hover {color: $neon3}
        &:nth-child(4) a:hover {color: $neon4}
        &:nth-child(1) a:active {color: $neon1}
        &:nth-child(2) a:active {color: $neon2}
        &:nth-child(3) a:active {color: $neon3}
        &:nth-child(4) a:active {color: $neon4}
    }
    a {
        color: $primaryBG;
        transition: color .25s linear;
    }
}