.aboutSection {
    background-color: $primaryFont;
    position: relative;
    .aboutBoxShadow {
        background: $neon1;
    }
    .aboutImg {
        max-width: 500px;
        border-radius: 25% 50%;
        margin-right: 50px;
        box-shadow: -10px 10px 15px $neon1;
        animation: colorChange 7s infinite;
    }
    .aboutText {
        p {
            margin-bottom: 25px;
        }
    }
}

@keyframes colorChange {
    0% {box-shadow: -10px 10px 15px $neon1;}
    33% {box-shadow: -10px 10px 15px $neon2;}
    66% {box-shadow: -10px 10px 15px $neon3;}
    100% {box-shadow: -10px 10px 15px $neon1;}
}

.aboutSection .wrapper {
    display: flex;
    align-items: center;
}

.socials {
    li {
        margin-right: 25px;
        &:nth-child(1) a:hover {color: $instagram}
        &:nth-child(2) a:hover {color: $twitter}
        &:nth-child(3) a:hover {color: $facebook}
        &:nth-child(4) a:hover {color: $vimeo}
        &:nth-child(1) a:active {color: $instagram}
        &:nth-child(2) a:active {color: $twitter}
        &:nth-child(3) a:active {color: $facebook}
        &:nth-child(4) a:active {color: $vimeo}
    }
    a {
        color: $primaryBG;
        transition: color .25s linear;
    }
}