// font stack
$bodyFont: 'Mulish', sans-serif;
$displayFont: 'Shrikhand', cursive;

// colours
$primaryFont: #e6e6e6;
$secondaryFont: #313131;
$primaryBG: #000;
$neon1: #ff00b3;
$neon2: #e5ff00;
$neon3: #48ff00;
$neon4: #00e1ff;