// font stack
$bodyFont: 'Mulish', sans-serif;
$displayFont: 'Shrikhand', cursive;

// colours
$primaryFont: #e6e6e6;
$secondaryFont: #313131;
$primaryBG: #000;
$neon1: #ff9300;
$neon2: #ac1fff;
$neon3: #6000ff;
$vimeo: #86c9ef;
$facebook: #3b5998;
$twitter: #00acee;
$instagram: #8a3ab9;